  body {
            background-color: #ffe6f0;
            color: #333;
        }
        .navbar {
            background-color: #ff99cc;
        }
        .btn-primary {
            background-color: #ff66b2;
            border-color: #ff66b2;
        }
        footer {
            background-color: #ff99cc;
            color: white;
        }